In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1450,1451,15676242,Artemova,632,Spain,Male,31,3,136556.44,1,1,0,82152.83,1
6534,6535,15590078,Burns,622,Spain,Male,27,9,139834.93,1,1,1,152733.89,0
5685,5686,15811565,Cocci,705,Spain,Female,47,3,63488.70,1,0,1,28640.92,1
92,93,15809248,Cole,524,France,Female,36,10,0.00,2,1,0,109614.57,0
1464,1465,15595067,Zhirov,637,Spain,Female,40,6,0.00,2,1,1,181610.60,0

In [3]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [4]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [5]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [6]:
df.Geography.value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
list_to_dummies = ['Geography','Gender']
df1 = pd.get_dummies(data=df, columns=list_to_dummies,dtype='uint8')
df1.sample(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
3482,543,37,3,0.00,2,1,1,78915.68,0,0,0,1,0,1
9447,718,41,1,0.00,2,0,1,27509.52,1,1,0,0,1,0
9549,578,36,1,157267.95,2,1,0,141533.19,0,0,0,1,0,1
2956,792,30,8,0.00,2,1,0,199644.20,0,1,0,0,0,1
3408,832,40,9,107648.94,2,1,1,134638.97,0,0,1,0,1,0

In [8]:
df1.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [9]:
df1.dtypes

CreditScore            int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
Gender_Female          uint8
Gender_Male            uint8
dtype: object

In [10]:
col_to_scale = ['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[col_to_scale] = scaler.fit_transform(df1[col_to_scale])

In [11]:
df1.sample()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
2160,0.754,0.135135,0.5,0.0,0.333333,0,1,0.098217,0,1,0,0,0,1

In [12]:
from sklearn.model_selection import train_test_split
X = df1.drop(columns=['Exited'])
y = df1.Exited

In [13]:
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=3)

In [14]:
X_train.shape

(8000, 13)

In [15]:
X_test.shape

(2000, 13)

In [16]:
model1 = keras.Sequential([
    keras.layers.Dense(2000,activation='relu'),
    keras.layers.Dense(400,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])
model1.compile(optimizer='adam',
               loss='binary_crossentropy',
               metrics=['accuracy'])
model1.fit(X_train,y_train,epochs=50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.7913 - loss: 0.4761
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8262 - loss: 0.4114
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 21ms/step - accuracy: 0.8464 - loss: 0.3631
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 22ms/step - accuracy: 0.8503 - loss: 0.3602
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8574 - loss: 0.3431
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - accuracy: 0.8628 - loss: 0.3297
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 18ms/step - accuracy: 0.8629 - loss: 0.3307
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 18ms/step - accuracy: 0.8555 - loss: 0.3421
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8623 - loss: 0.3323
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8675 - loss: 0.3245
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8682 - loss: 0.3272
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8676 - loss: 0.3308
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8647 - loss: 0.3300
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - accuracy: 0.8595 - loss: 0.3360
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 18ms/step - accuracy: 0.8618 - loss: 0.3304
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - accuracy: 0.8652 - loss: 0.3405
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8607 - loss: 0.3347
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.8641 - loss: 0.3212
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8659 - loss: 0.3221
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8746 - loss: 0.3141
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8731 - loss: 0.3141
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.8696 - loss: 0.3168
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8713 - loss: 0.3157
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8727 - loss: 0.3110
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8695 - loss: 0.3130
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8711 - loss: 0.3021
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8771 - loss: 0.3006
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - accuracy: 0.8768 - loss: 0.3043
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8697 - loss: 0.3062
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8788 - loss: 0.2932
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8765 - loss: 0.2944
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8791 - loss: 0.2936
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8791 - loss: 0.2928
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8713 - loss: 0.2973
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8728 - loss: 0.3029
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8735 - loss: 0.2994
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8778 - loss: 0.2833
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8772 - loss: 0.2891
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8832 - loss: 0.2755
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8840 - loss: 0.2756
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 17ms/step - accuracy: 0.8850 - loss: 0.2739
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 18ms/step - accuracy: 0.8818 - loss: 0.2796
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8898 - loss: 0.2608
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - accuracy: 0.8876 - loss: 0.2688
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 18ms/step - accuracy: 0.8883 - loss: 0.2613
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 18ms/step - accuracy: 0.8951 - loss: 0.2543
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - accuracy: 0.8894 - loss: 0.2628
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - accuracy: 0.8892 - loss: 0.2546
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 19ms/step - accuracy: 0.8867 - loss: 0.2558
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - accuracy: 0.8904 - loss: 0.2497

In [19]:
model1.evaluate(X_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8642 - loss: 0.4052

[0.42288070917129517, 0.8539999723434448]

In [21]:
y_pred = model1.predict(X_test)
y_pred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

array([[0.0536054 ],
       [0.00861724],
       [0.6983316 ],
       ...,
       [0.04484396],
       [0.1369962 ],
       [0.00682573]], dtype=float32)

In [25]:
y_pred = y_pred > 0.5

In [26]:
y_pred

array([[False],
       [False],
       [ True],
       ...,
       [False],
       [False],
       [False]])

In [27]:
from sklearn.metrics import classification_report
print('Classification report: ')
print(classification_report(y_test,y_pred))

Classification report:
              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1605
           1       0.73      0.41      0.53       395

    accuracy                           0.85      2000
   macro avg       0.80      0.69      0.72      2000
weighted avg       0.84      0.85      0.84      2000

In [28]:
num_0_train = len([i if y_train > 0.5])

SyntaxError: expected 'else' after 'if' expression (196622834.py, line 1)